:host {
  height: 100%;
  display: block;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 80px;
}

mat-sidenav-content {
  height: 100%;
  overflow-y: auto;
  padding-inline: 32px;
  padding-block: 16px;
}
