<h1 class="mat-headline-2 header">MicroManger.io</h1>

<form class="login-card" [formGroup]="registerForm" (ngSubmit)="register()">

  <p class="mat-headline-4 form-title">Create an Account</p>
  <hr />

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" placeholder="Username" formControlName="username" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Access Token</mat-label>
    <input matInput type="password" placeholder="Access Token" formControlName="betaAccessToken" required>
  </mat-form-field>

  <button type="submit" mat-flat-button [class.disabled]="registerForm.invalid">Sign Up</button>

  <a class="sign-in-link" [routerLink]="['/auth/login']">Already have an account?</a>
</form>
