@if(meetingQuery.isLoading()) {

  <p>Loading...</p>

} @else {

  <div class="heading">
    <p class="mat-headline-3">{{meetingQuery.data()?.title}}</p>

    @if(workbucketQuery.isLoading()) {
      <p>Loading...</p>
    } @else {
      <p class="mat-headline-4">{{workbucketQuery.data()?.name}}</p>
    }

    <p class="mat-headline-6">{{ meetingTimesWrapper() | meetingTimeDisplay}}</p>
  </div>

  <div class="content">


    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Meeting Notes">
        <meeting-notes />
      </mat-tab>
      <mat-tab label="Discussion Items">
        <discussion-items-list />
      </mat-tab>
      <mat-tab label="Follow Ups">
        <follow-up-items-list />
      </mat-tab>
    </mat-tab-group>


  </div>
}
