:host {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  box-sizing: border-box;
}

.heading {
  p {margin: 0 !important; }
}

.content {
  height: 100%;

  mat-tab-group {
    height: 100%;
    ::ng-deep .mat-mdc-tab-body-wrapper {
      flex: 1 1 100%;
    }
  }



}
