.workbucket-select {
    width: auto;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    mat-icon {
        $size: 32px;
        font-size: $size;
        width: $size;
        height: $size;
        font-weight: bold;
    }
}
