<ul class="breakdown-items">
  <li class="breakdown-item">
    <p class="label mat-body-1">Total Work Items:</p>
    <p class="count">0</p>
  </li>
  <li class="breakdown-item">
    <p class="label mat-body-1">Completed Work Items:</p>
    <p class="count">0</p>
  </li>
  <li class="breakdown-item">
    <p class="label mat-body-1">Backlogged Work Items:</p>
    <p class="count">0</p>
  </li>
  <li class="breakdown-item">
    <p class="label mat-body-1">Open Work Items:</p>
    <p class="count">0</p>
  </li>
  <li class="breakdown-item">
    <p class="label mat-body-1">Past Due Work Items:</p>
    <p class="count">0</p>
  </li>
  <li class="breakdown-item">
    <p class="label mat-body-1">Due Soon:</p>
    <p class="count">0</p>
  </li>
</ul>
<mat-divider></mat-divider>
