@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@use "app/features/workbuckets/pages/workbucket-page/components/work-item-table/work-item-table.component.scss" as workItemTableStyles;

@import "@angular/cdk/overlay-prebuilt.css";

$light-theme: matx.define-theme(
  (
    color: (
      theme-type: light,
      primary: matx.$m3-cyan-palette,
    ),
    typography: (
      brand-family: "Comic Sans",
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);
$dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: matx.$m3-cyan-palette,
    ),
    typography: (
      brand-family: "Comic Sans",
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme);
  @include workItemTableStyles.color($light-theme);

  body,
  mat-sidenav-content {
    background-color: mat.get-theme-color($light-theme, surface);
  }

  mat-sidenav {
    background-color: mat.get-theme-color($light-theme, surface-dim) !important;
  }

  mat-card {
    background-color: mat.get-theme-color($light-theme, surface-dim) !important;
    border: 1px solid mat.get-theme-color($light-theme, outline-variant) !important;
  }

  mat-card:hover {
    border: 1px solid mat.get-theme-color($light-theme, primary) !important;
  }
}

// dark mode
@media (prefers-color-scheme: dark) {
  html {
    @include mat.all-component-colors($dark-theme);
  @include workItemTableStyles.color($dark-theme);

    body,
    mat-sidenav-content {
      background-color: mat.get-theme-color($dark-theme, surface);
    }

    mat-sidenav {
      background-color: mat.get-theme-color(
        $dark-theme,
        surface-dim
      ) !important;
    }

    mat-card {
      background-color: mat.get-theme-color(
        $dark-theme,
        surface-dim
      ) !important;
    }
  }
}
